body, h1, h2, h3, p, button, label, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Apply a background color */
body {
  height: 100;
  background-color: #4d4d4d;
  font-family: 'Roboto', sans-serif;
  color: antiquewhite;
}

/* Center content */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em;
}

/* Styling for the first row */
.first-row {
  text-align: center;
  margin-bottom: 2em;
}


.second-row .movie-info {
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #252525;
  max-width: 500px;
  padding: 2em;
  border-radius: 8px;
}

/* Responsiveness for mobile */
@media screen and (max-width: 768px) {
  .main-container {
    padding: 1em;
  }
  
  .second-row .movie-info {
    padding: 1em;
  }
}


button, select {
  background-color: #383838;
  color: antiquewhite;
  padding: 0.3125em;
  border: none;
  border-radius: 0.3125em;
  cursor: pointer;
}