:root {
  font-family: "Bruno Ace SC", cursive;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #282828;
  color: antiquewhite;
  padding: 10px;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

#movie {
  text-align: center;
}

button,
select {
  background-color: #424242;
  color: antiquewhite;
  padding: 10px;
  border-radius: 5px;
  border: solid black 0px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: calc(12px + (15 -12) * ((100vw -300px) / (1600 -300)));
  font-weight: bold;
  transition: background 0.5s ease;
}

button:hover,
select:hover {
  color: white;
}

form {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 600px) {
  body {
    font-size: calc(14px + (16 -14) * ((100vw -300px) / (1600 -300)));
  }
  button,
  select {
    font-size: calc(12px + (15 -12) * ((100vw -300px) / (1600 -300)));
  }
}
